<head>
<style>
@font-face {
  font-family: "FieldworkHum";
  font-weight: 600;
  src: url("/Fieldwork-Hum-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FieldworkHum";
  font-weight: 400;
  src: url("/Fieldwork-Hum-Regular.ttf") format("truetype");
}
body {
    font-family: 'FieldworkHum';
    text-align: center;
}
p {
    font-size: 18px;
}
</style>
</head>

<script>
function send_link(){
    fetch("/emailcommspreferences",{
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'x-csrf-token': '<%= form_authenticity_token %>'
        },
        body: JSON.stringify({email: "<%= @email %>"})
    }).then( (response) => {
        if (response.ok){
            return response.json();
        }
        throw new Error('Request fail');
    }).then(json => {
        console.log(json);
        if (json.success){
            document.getElementById('tgt').innerHTML = '<p>A link has been sent to <%= @email %>.</p><p>If there are issues in using the link, you can contact natoffice@acl.org.au.</p>';
        } else {
            document.getElementById('tgt').innerHTML = '<p>An error was encountered. Please contact natoffice@acl.org.au.</p>';
        }
    });
}
</script>

<body>
<div>
    <img src="https://www.acl.org.au/wp-content/uploads/2023/04/ACL_Logo_POS_RGB_final.png" />

    <div id='tgt'>
        <h1>
            Link to manage your preferences
        </h1>
        <button class="btn" onclick="send_link()">
            Get link
        </button>
    </div>

</div>
</body>
