<head>
<style>
@font-face {
  font-family: "FieldworkHum";
  font-weight: 600;
  src: url("/Fieldwork-Hum-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FieldworkHum";
  font-weight: 400;
  src: url("/Fieldwork-Hum-Regular.ttf") format("truetype");
}
body {
    font-family: 'FieldworkHum';
    text-align: center;
}
p {
    font-size: 18px;
}
#email-input {
    padding: 12px;
    font-size: 16px;
    font-family: "FieldworkHum";
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 4px;
    width: 320px;
}
</style>
</head>

<script>
let email = "<%= @email %>";

function send_link(){
    if (email === null || email === undefined || !email.includes('@')){
        email = document.getElementById('email-input').value;
    }
    console.log("Sending link for "+email);
    fetch("/sendunsubscribe",{
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'x-csrf-token': '<%= form_authenticity_token %>'
        },
        body: JSON.stringify({email: email})
    }).then( (response) => {
        if (response.ok){
            return response.json();
        }
        throw new Error('Request fail');
    }).then(json => {
        console.log(json);
        if (json.success){
            document.getElementById('tgt').innerHTML = '<p>Link sent to '+email+'</p>';
        } else {
            document.getElementById('tgt').innerHTML = '<p>An error was encountered. Please email natoffice@acl.org.au</p>';
        }
    });
}
</script>

<body>
<div>
    <img src="https://www.acl.org.au/wp-content/uploads/2023/04/ACL_Logo_POS_RGB_final.png" />

    <div id='tgt'>
        <h1>
            Email link to unsubscribe
        </h1>
        <% if @email.nil? || !@email.include?('@') %>
        <input type="text" id="email-input" placeholder="Enter your email to unsubscribe" /><br />
        <% end %>
        <button class="btn" onclick="send_link()">
            Get link
        </button>
    </div>

</div>
</body>
