/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Arial;
}

 #login-wrapper {
    margin: auto;
}

.login-field {
    font-size: 16px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    margin: 10px;
    border-radius: 5px;
}

#donation-table tr td {
    width: 300px;
    padding: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.btn {
    width: 120px;
    background-color: #efefef;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    border-radius: 0px;
    cursor: pointer;
}

.index-donation-container {
    background-color: #efefef;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
}

.index-donation-container table tr td {
    width: 220px;
}

#flash-success {
    padding: 20px;
    font-size: 16px;
    background-color: lightgreen;
    margin-top: 20px;
 }

 #flash-info {
   padding: 20px;
   font-size: 16px;
   background-color: lightblue;
   margin-top: 20px;
 }

 #flash-warning {
   padding: 20px;
   font-size: 16px;
   background-color: orange;
   margin-top: 20px;
 }

 #flash-danger {
   padding: 20px;
   font-size: 16px;
   background-color: lightcoral;
   margin-top: 20px;
 }

 .txt-input {
    border: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    width: 440px;
    padding: 10px;
    font-size: 18px;
    font-family: Courier;
    font-weight: bold;
 }
